﻿@page
@model IndexModel
@{
    ViewData["Title"] = "People & Pets";
}

<div>

    @if (Model.IsError)
    {
    <i>An error occured while processing the request. Please contact the site administrator with Request ID : @HttpContext.TraceIdentifier </i>
    }
    else
    {
        foreach (var person in Model.Persons)
        {
            <B>@person.Gender</B>
            <ul>
                @foreach (var pet in person.Pets)
                {
                    <li>@pet.Name</li>
                }
            </ul>

        }
    }

</div>
